<div class="h-full w-full p-10 flex justify-center flex-col items-center">
    <div class="w-full flex justify-center mb-10">
        <p class="text-corAzul text-5xl font-semibold border-b-4 border-corLaranja pb-2">Cadastro</p>
    </div>
    <div class=" w-full p-5">
        <div class="w-full flex flex-col items-center">
            <div class="flex w-2/4 items-center">
                <i class="pi pi-user icon text-corLaranja"></i>
                <p class="pl-5 text-2xl text-corAzul font-semibold">Informações pessoais </p>
            </div>
            <div class="mt-10 w-2/4">
                <p class="text-2xl text-corAzul ">Nome Completo : </p>
                <input type="text" pInputText class="inputUsuario"/>
            </div>
            <div class="mt-10 w-2/4">
                <p class="text-2xl text-corAzul ">E-mail : </p>
                <input type="text" pInputText class="inputUsuario"/>
            </div>
            <div class="mt-10 w-2/4">
                <p class="text-2xl text-corAzul ">CPF : </p>
                <input type="text" pInputText class="inputUsuario"/>
            </div>
            <div class="mt-10 w-2/4">
                <p class="text-2xl text-corAzul ">Data de Nascimento : </p>
                <input type="text" pInputText class="inputUsuario"/>
            </div>
            <div class="mt-10 w-2/4">
                <p class="text-2xl text-corAzul ">Digite sua senha : </p>
                <input type="text" pInputText class="inputUsuario"/>
            </div>
            <div class="mt-10 w-2/4">
                <p class="text-2xl text-corAzul ">Confirmes sua senha : </p>
                <input type="text" pInputText class="inputUsuario"/>
            </div>
            <div class="flex w-2/4 items-center mt-14">
                <i class="pi pi-home icon text-corLaranja"></i>
                <p class="pl-5 text-2xl text-corAzul font-semibold">Informações de endereço </p>
            </div>
            <div class="mt-10 w-2/4">
                <p class="text-2xl text-corAzul ">CEP : </p>
                <input type="text" pInputText class="inputUsuario"/>
            </div>
            <div class="mt-10 w-2/4">
                <p class="text-2xl text-corAzul ">Estado : </p>
                <input type="text" pInputText class="inputUsuario"/>
            </div>
            <div class="mt-10 w-2/4">
                <p class="text-2xl text-corAzul ">Cidade : </p>
                <input type="text" pInputText class="inputUsuario"/>
            </div>
            <div class="mt-10 w-2/4">
                <p class="text-2xl text-corAzul ">Rua : </p>
                <input type="text" pInputText class="inputUsuario"/>
            </div>
            <div class="mt-10 w-2/4">
                <p class="text-2xl text-corAzul ">Número : </p>
                <input type="text" pInputText class="inputUsuario"/>
            </div>
            <div class="mt-10 w-2/4">
                <p class="text-2xl text-corAzul ">Complemento : </p>
                <input type="text" pInputText class="inputUsuario"/>
            </div>
            <p-button class="mt-10 btnLogin" label="Cadastrar" (click)="cadastrar()"></p-button>
        </div>
    </div>
</div>
