<div class="mainDiv">
    <div class="boxLogin">
        <div class="ladoLogin">
            <p class="titleLogin">Login</p>
            <div class="inputsLogin">
                <div class="divUsuario divsLoginCadastro">
                    <p>Usuário ou Email : </p>
                    <input type="text" pInputText class="inputUsuario"/>
                </div>
                <div class="divSenha divsLoginCadastro">
                    <p>Senha : </p>
                    <input type="text" pInputText class="inputSenha"/>
                    <a href="#" class="recuperarSenha">Esqueci minha senha</a>
                </div>
            </div>
            <div class="divBtnLogin h-1/6">
                <button
                 pButton 
                 type="button"
                  label="Login"
                   class="btnLogin"
                   (click)="logar()" >
                </button>
                <a (click)="paginaCadastro()">Não possui cadastro ? Cadastre-se aqui !</a>
            </div>
        </div>
    </div>
</div>