<div class="flxNav">
    <div class="gridNav">
        <h1 class="GoFit">GoFit</h1>
        <div class="navLinks">
            <p class="linkNav" (click)="suplementos()">Suplementos</p>
            <p class="linkNav">Acessórios</p>
            <p class="linkNav">Roupas</p>
        </div>
        <div class="subFlex2">
            <i class="pi pi-shopping-cart navIcons" (click)="paginaCarrinho()"></i>
            <i class="pi pi-user navIcons" (click)="paginaPerfil()"></i>
        </div>
    </div>
</div>
<div class="searchFlxNav">
    <span class="p-input-icon-right span">
        <i class="pi pi-search"></i>
        <input type="text" pInputText class="searchInput" placeholder="O que você procura ?" />
    </span>
</div>