<div class="flxNav">
    <div class="gridNav">
        <div class="subFlex">
            <i class="pi pi-align-justify navIcons menuIcon" onclick="openNav()"></i>
        </div>
        <h1 class="GoFit">GoFit</h1>
        <div>
        </div>
        <div class="subFlex2">
            <i class="pi pi-shopping-cart navIcons" (click)="paginaCarrinho()"></i>
            <i class="pi pi-user navIcons"></i>
        </div>
    </div>
</div>
<div class="searchFlxNav">
    <span class="p-input-icon-right span">
        <i class="pi pi-search"></i>
        <input type="text" pInputText class="searchInput" placeholder="O que você procura ?" />
    </span>
</div>