

.mainDiv {
    width: 99.1vw;
    height: 82vh;
    font-family: sans-serif;
}

.mainGrid {
    padding-top: 5%;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.ladoEsquerdo {
    padding-left: 5%;
}

.ladoDireito {
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotoProduto {
    width: 100%;
    height: 85%;
    background-color:aliceblue
}

.campoFrete {
    display: flex;
    height: 35%;
    align-items: center;
    justify-content: space-between;
}

.inputCep {
    height: 20%;
    width: 70%;
}

.btnCalculaCep {
    width: 25%;
}

.btnCalculaCep {
    background-color: #FFB84D;
    border-color: #fff;
}

.btnCalculaCep:hover {
    background-color: #faab33;
    border-color: #cecece;
}

.cima {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.informacoesProduto {
    margin-top: 4%;
    width: 80%;
    height: 70%;
    // background-color:antiquewhite ;
    display: grid;
    grid-template-rows: 60% 40%;
}

.cimaCarrinho {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
}

.esquerdo {
    height: 100%;
    width: 100%;
}

.textProd {
    font-size: 1.3em;
    color: #03384C;
    font-weight: bold;
}

.nomeProduto {
    font-size: 2.5em;
}

.textoEsquerdo {
    padding-top: 5%;
    padding-left: 10%;
    margin: 0;
}

.descricaoTitle {
    font-size: 1.7em;
    border-bottom: 3px solid #faab33;
    font-weight: bold;
    color: #03384C;
}

.informacoesProdutoText {

}

.direito {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notaProduto {
    width: 80%;
    height: 60%;
    background-color: green;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numeroNota {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
}

.baixoCarrinho {
    display: flex;
    justify-content: start;
    align-items: start;
    padding-left: 5%;
    width: 100%;
}

.textInfo {
    font-size: 1em;
    color: #03384C;
    font-weight: bold;
}

.btnAddCarrinho {
    width: 70%;
    margin: 0 auto;
}

.campoBtn {
    margin-top: 5%;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
}

.btnAddCarrinho {
    background-color: #FFB84D;
    border-color: #fff;
}

.btnAddCarrinho:hover {
    background-color: #faab33;
    border-color: #cecece;
}

.iconsFoto {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seta {
    font-size: 1.2em;
}

.seta:hover {
    cursor: pointer;
}