<app-nav></app-nav>
<div class="mainDiv">
    <div class="mainGrid">
        <div class="ladoEsquerdo">
            <div class="cima">
                <div class="fotoProduto">
                    <div class="iconsFoto">
                        <i class="pi pi-angle-left seta"></i>
                        <i class="pi pi-angle-right seta"></i>
                    </div>
                </div>        
            </div>
            <div class="campoFrete">
                <p-inputNumber class="inputCep" placeholder="Calcular frete"></p-inputNumber>
                <button pButton type="button" label="Calcular" class="btnCalculaCep"></button>
            </div>
        </div>
        <div class="ladoDireito">
            <div class="informacoesProduto">
                <div class="cimaCarrinho">
                    <div class="esquerdo">
                        <div class="textoEsquerdo">
                            <p class="nomeProduto textProd">Regata</p>
                            <p class="precoProduto textProd">54,90 R$</p>
                            <div class="flex w-2/3 justify-between mt-5">
                                <p class="pesoProduto p-3 bg-slate-300 rounded-full textProd">P</p>
                                <p class="pesoProduto p-3 bg-slate-300 rounded-full textProd">M</p>
                                <p class="pesoProduto p-3 bg-slate-300 rounded-full textProd">G</p>
                            </div>
                        </div>
                    </div>
                    <div class="direito">
                        <div class="notaProduto">
                            <p class="numeroNota">4.2</p>
                        </div>
                    </div>
                </div>
                <div class="baixoCarrinho">
                    <div class="informacoesProdutoText">
                        <p class="descricaoTitle">Descrição</p>
                        <p class="textInfo">Elevando seu treino com conforto e estilo - descubra a regata de academia simples, a parceira ideal para suas sessões de exercícios.</p>
                    </div>
                </div>
            </div>
           
            <div class="campoBtn">
                <button 
                pButton type="button" 
                label="Adicionar carrinho" 
                class="btnAddCarrinho"
                ></button>
            </div>
        </div>
    </div>
</div>