<app-nav></app-nav>
<div class="mainDiv">
    <div class="tituloFiltro">
        <h1 class="mainTitle">Suplementos</h1>
        <span class="p-input-icon-right">
            <i class="pi pi-filter"></i>
            <input type="text" pInputText class="filterInput" placeholder="Filtrar" />
    </span>
    </div>
    <div class="mainGrid">
        <div class="box">
            <div class="fotoProduto"></div>
            <div class="informacoes">
                <p class="nomeProduto">Creatina</p>
                <p class="descProduto">250g</p>
                <p class="precoProduto">100,00 R$</p>
            </div>
            <button
             pButton type="button"
             label="Comprar"
             class="btnAddCarrinho"
             (click)="paginaProdutos()"
               ></button>
        </div>
    </div>

</div>
