.mainDiv {
    padding : 3%;
}

.mainTitle {
    font-size: 3.5em;
    color: #489682;
    font-weight: 200;
}

.filterInput {
    width: 15%;
}

.tituloFiltro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}